<mat-dialog-content>
	<div class="relative left-18 color-red-5 width-min cursor cursor--pointer" (click)="ref.close()">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="width-7 height-7">
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
		</svg>
	</div>
	<div class="padding-4 padding-x-4">
		<div class="flex flex--justify-content-center flex--align-items-end gap-7 margin-bottom-10 width-100%">
			<p class="color-primary-5 font-size-7">DETALLES</p>
			<button [hidden]="author == undefined" class="cursor cursor--pointer bg-color-primary-5 border border--color-primary-4 border--rounded-2" (click)="enableEdit(true)">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="width-7 height-7 color-white-5">
					<path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
				</svg>
			</button>
		</div>
		<form class="flex flex--col" [formGroup]="form">
			<mat-form-field color="primary">
				<mat-label>Nombre</mat-label>
				<input type="text" matInput formControlName="name">
			</mat-form-field>
			<mat-form-field color="primary">
				<mat-label>Pa&iacute;s</mat-label>
				<input type="text" matInput formControlName="country">
			</mat-form-field>
			<mat-form-field color="primary">
				<mat-label>A&ntilde;o de Nacimiento</mat-label>
				<input type="number" matInput formControlName="birthYear">
			</mat-form-field>
			<mat-form-field color="primary">
				<mat-label>A&ntilde;o de Muerte</mat-label>
				<input type="number" matInput formControlName="deathYear">
			</mat-form-field>
			<div class="flex flex--justify-content-center gap-5 margin-bottom-2">
				<img [src]="authorImage ? authorImage : 'assets/img/shared/user.png'" class="width-10 height-10" alt="Author Image">
				<button type="button"
						class="border border--color-primary-5 border--rounded-3 padding-3"
						[class]="!editMode ? 'bg-color-gray-6 color-gray-9' : 'bg-color-primary-5 bg-color-primary-5--to-alternative-7 color-white-5'"
						[disabled]="!editMode"
						(click)="fileInput.click()"
				>
					Foto
				</button >
				<input hidden type="file" #fileInput (change)="onFileSelected($event)">
			</div>
			<button class="width-min
							padding-3
							margin-x-auto
							bg-color-white-5--to-red-5
							border border--rounded-2 border--color-red-5
							color-black-5--to-gray-5"
					[hidden]="!cancelEnabled"
					(click)="enableEdit(false)"
			>
				Cancelar
			</button>
		</form>

		<div class="flex flex--justify-content-center gap-5 margin-top-5">
			<div>
				<button class="padding-5 bg-color-red-4 bg-color-red-4--to-red-7 border border--rounded-2 border--color-red-5 color-white-5" (click)="delete(author.id)">
					Eliminar
				</button>
			</div>
			<div [hidden]="!editMode">
				<button class="padding-5 bg-color-green-4 bg-color-green-4--to-green-7 border border--rounded-2 border--color-green-5 color-white-5" (click)="save()">
					Guardar
				</button>
			</div>
		</div>
	</div>
</mat-dialog-content>
