<footer class="bg-color-primary-5 color-white-5 padding-x-12 padding-y-7 fixed bottom-0">
	<div class="grid sm:grid--cols-1 md:grid--cols-3 grid--align-items-center">
		<div class="grid__col-span-2">
			<div class="text-align--center">
				Proyecto desarrollado como trabajo de fin de ciclo de Ximo Llàcer Bernabeu para el CIPFP MISLATA
				<p class="text-align text-align--center font-size-1">&copy; Ximo Llàcer Bernabeu 2024</p>
			</div>
		</div>
		<div class="grid__col-span-1 flex gap-15 flex--align-items-center">
			<a href="https://github.com/xllaber/BookArchive">
				<img src="assets/img/footer/github64-white.svg" alt="logo github">
			</a>
			<a href="https://www.fpmislata.com/wordpress/">
				<img src="assets/img/footer/logo_cipfp.png" class="width-40%" alt="logo cipfp mislata">
			</a>
		</div>
	</div>
</footer>
