<nav class="sm:hidden flex flex--justify-content-between flex--align-items-center
	padding-y-7 padding-x-12
	bg-color-primary-5 color-alternative-5
	font-size-5"
>
	<div class="flex flex--justify-content-evenly gap-5">
<!--		<div class="link text-underline-animated text-underline-animated-transition&#45;&#45;alternative-5-white-5 scale-up-2" routerLink="/home">HOME</div>-->
		<div class="link text-underline-animated text-underline-animated-transition--alternative-5-white-5 scale-up-2" routerLink="/books">LIBROS</div>
		<div class="link text-underline-animated text-underline-animated-transition--alternative-5-white-5 scale-up-2" routerLink="/authors">AUTORES</div>
		<div class="link text-underline-animated text-underline-animated-transition--alternative-5-white-5 scale-up-2" routerLink="/sagas">SAGAS</div>
	</div>
	<div class="flex__1"></div>
	<div class="scale-up-2">
		<img src="assets/img/logo/logo40.svg" alt="logo">
	</div>
	<div class="flex__1"></div>
<!--	<div class="link">-->
<!--		USER-->
<!--	</div>-->
</nav>
